commands:
  create_post_dir:
    command: mkdir /opt/elasticbeanstalk/hooks/appdeploy/post
    ignoreErrors: true
    

files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/01-run-script.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #! /bin/bash
      cd /var/www/html
      
    
container_commands:
  01_install_modules:
    command: npm i -g npm && npm ci